.grid-container {
    display: grid; /*Won't change anything. Just Ids a section asa grid*/
    /*grid-template-columns:500px 100px;*/ /*Sets columns manualy*/
    grid-template-columns: repeat(2, 1fr); /*1fr 1fr;*/ /* Sets sizing as a fraction. Turn this off to use justify-content*/ 
    /*grid-template-rows 100px 140px;*/ /*like the manual column setting*/

    /*grid-auto-rows: 150px;*/ /*Sets default row height*/
    /*grid-auto-rows: minmax(150px, auto);*/ /*Min 150px to max whatever it needs*/
    /*grid-auto-rows: minmax(auto, auto);*/
    /*grid-row-gap: 20px;*/ /*Sets gap of rows*/
    /*grid-column-gap: 20px;*/ /* For columns*/
    grid-gap: 20px 20px; /* Both at the same time*/
    /*Below creates a header that can later be manipulated*/
    /*grid-template-areas: 
        "header header" Double to take both columns
        "sidebar content"
        "sidebr content"*/
    /*justify-content: center; /*Creates a subcontainer that can move around all of our contet to the center. Can space around and do many other things.*/
    /*align-content: stretch;
    height: 100vh;*/
    justify-items: center; /*Centers content inside of columns */
    align-items: center; /*As above but for rows. Can use start, end, and more */
}
/* This is for the grid-template-areas css selectors
#grid-chart-1 {
    grid-area: header;
}

#grid-chart-2 {
    grid-area: sidebar;
}

#grid-chart-3 {
    grid-area: content;
}*/

#grid-chart-1 {
    /*grid-column-start: 1; /*Note a column starts on the far left and ends at a break where the new column begins. Then column 3 stretches to the end.*/
    /*grid-column-end: 3; /*Or use -1 if you don't know how many columns you need to count over to get to the end*/
    /*grid-column: 1 / -1;*/ /*Same as above*/
    /*For inter item manipulation. Can override general rules as set in align-items and justify-items*/
    align-self: start;
    justify-self: center;
}

#grid-chart-2 { /*Same as above but for columns*/
    grid-row: 2 / 4;
}

#grid-chart-3 {
    grid-row: span 2; /*Same as above but shorter syntax. Span 2 rows.*/
}

#grid-chart-4 {
    grid-row: span 1; /* Play with spanning to get ids to fit into a larger row */ 
}